<div class="card mt-4">
    <img src="/assets/img/{{producto.img}}" class="card-img-top" alt="Imagen de {{producto.nombre}}">
    <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">Precio: ${{producto.precio}}</p>
        <a href="#" class="btn btn-primary">Agregar al carro</a>
    </div>
</div>